body {
    margin: 60px auto;
    width: 70%;
	background: url(/assets/background.jpg) repeat;
}
nav ul, footer ul {

    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
	font-family: 'Roboto Mono', monospace;
    display: inline;
    margin-right: 20px;
	color: #D79100;
}
a {
    text-decoration: inherit;
    color: #0000C8;

}
a:hover {
    text-decoration: none	;
}
h1 {
    font-size: 35px;
    font-family: 'Roboto Mono', monospace;
	color: #770300;
    margin-bottom: 20px;

}

h2 {
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
	color: #770300;
}

h3 {
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
	color: #770300;
	border-bottom: 1px solid #FFA700;
}

h4 {
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    color: #770300;
}
p {
	font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 1.4em;
    color: #0000C8;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
li {
    padding-left:1em;
    color:#770300; /* red bullet */
}
li span {
    display:block;
    margin-left:-0.5em;
}


