---
layout: websitelanding
exclude: true
title: Notes
---

<h1>Notes</h1>
<div class="home">


  <ol class="notes-list" >
	{% for my_page in site.pages %}
        {% if my_page.path contains "index.html" %}
		{% if my_page.title %}
		{% unless my_page.exclude %}
		
		        <li><span>
					<p>
						<a style="font-size: 22px" class="page-link" href="{{ my_page.url }}">{{ my_page.title }}</a>
					<p>
				</span>
				</li>
		
		{% endunless %}
		{% endif %}
		{% endif %}
    {% endfor %}
  </ol>

  

</div>
