---
layout: landing_page
exclude: true
title: Notes
---

<h1>Notes</h1>
<div class="home">


  
	{% for my_page in site.pages %}
        {% if my_page.path contains "index.html" %}
		{% if my_page.title %}
		{% unless my_page.exclude %}
		<ol class="notes-list" >
		        <li>
					<h2>
						<a style="font-size: 22px" class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
					</h2>
				</li>
		</ol>
		{% endunless %}
		{% endif %}
		{% endif %}
    {% endfor %}
  

  

</div>
